<div class="bg-primary">
  <div class="container ms-5 pt-4 pb-4">
    <div class="bg-warning">
      <h2>
        AGILE SOFTWARE
        <br>
        DEVELOPMENT
        <br>
        COMPANY
      </h2>
    </div>
    <div class="bg-danger">
      <div>
        <p class="text-start">
          We provide a full-stack of Application and Software Development Services. Empower your business, leading your
          organization to the future based on your business plan. Swiftlet enables your novel innovation into reality!
        </p>
      </div>
    </div>
    <div>
      <button class="btn btn-danger">Service</button>
    </div>
  </div>
</div>

<div class="bg-info">
  <div class="container ms-5 pt-4 pb-4">
    <div class="bg-warning">
      <h2>
        OUR CLIENTS & PARTNER
      </h2>
    </div>
    <div class="bg-danger">
      <div>
        <p class="text-start">
          Over the past 10 years of our operation as Software House in Thailand, we have had many clients and projects.
          A lot of them are under a Non-disclosure agreement. Here are a few examples that we can publicly disclose.
        </p>
      </div>
    </div>
  </div>
  <div class="pb-4 text-center">
    <img src="assets/vecteezy_contracts.jpg" alt="picture" class="w-50 img-fluid">
  </div>
</div>
<div class="bg-warning">
  <div class="text-center">
    <h2>
      AGILE PROJECT REFERENCES
    </h2>
  </div>
  <div class="text-center">
    <app-carousel></app-carousel>
  </div>
</div>
